/*Google Fonts class*/
.carme-regular {
    font-family: "Carme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Body */
body {
    background-color: white;
    font-family: "Carme", sans-serif;
    color: #1e3050;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Quiz Logo */
.header {
    text-align: center;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #1e3050;
}

.header-link {
    text-decoration: none;
    display: inline-block;
}

.copy {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    color: slategray;
}

/* Footer */
footer>a:hover {
    color: #1e3050;
}

/* Hidden class */
.hidden {
    display: none;
}

/* Logos */
.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 344px;
    margin: 0 auto 50px auto;
}

/* Home page image */
.rr-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    /* Adjust height to fit within the viewport */
    width: 96%;
    max-width: 600px;
    /* Ensure the image fits within the device width */
    margin-left: 2px;
    margin-right: 2px;
}

/* Rules */
.rules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 304px;
    text-align: justify;
    width: 460px;
    padding: 2px 0px 2px 13px;
    margin: 12px 0px 10px 2px;
}

/* Answer options buttons */
.logo-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

.logo-buttons button {
    border: 3px solid gainsboro;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    font-size: larger;
    cursor: pointer;
}

/* Start button */
.logo-easy {
    background-color: green;
    color: white;
}

/* Car logo */
.guesslogo {
    font-size: large;
    margin-bottom: -15px;
}

/* Score counters */
.score-area {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.scores {
    margin: 5px;
    font-size: large;
}

/* Quiz final results */
#quiz-final-results {
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: bold;

}

/* Whole container */
#quiz-container {
    text-align: center;
}

/* Heading style */
h1 {
    margin-top: -10px;
}

/* Beauty home page image */
.rr-image {
    /* Adjust styling for logo images */
    background: url(../images/rr-logo.jpg)no-repeat center center/cover;
}

/* Optional: Style for the container */
#question img {
    height: 250px;
    width: 90%;
}

/* Animating answer buttons */
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 90%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Hover effect */
.btn:hover {
    background: #1e3050;
    color: #fff;
}

/* Next */
#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 40px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/* Answers colors */
.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

.btn {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

/* Stop Quiz button */
.stop-quiz {

    text-decoration: none;
    color: red;
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 20px;
    display: inline-block;
    border: 2px solid gray;
    background-color: white;
    border-radius: 600px;
    width: 180px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;

}

/* New Quiz button */
#new-quiz-btn {
    text-decoration: none;
    color: #1e3050;
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 20px;
    display: none;
    border: 2px solid gray;
    background-color: white;
    border-radius: 600px;
    width: 180px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}

/* Stop Quiz */
.stop-quiz-cont {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.hidden-text {
    visibility: hidden;
}

.container {
    width: 98%;
}

.hidden {
    display: none;
}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width:768px) {
    #question img {
        height: 250px;
        width: 90%;
        max-width: 500px;
    }

    .rr-image {
        height: 350px;
        width: 500px;
        max-width: 500px;
    }

    .rules {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        max-width: 500px;
        text-align: justify;
        width: 460px;
    }
}

/*Larger devices (laptops and desktops 992px and up )*/
@media screen and (min-width:992px) {

    #quiz-container {
        margin-top: -15px;
    }

    .container {
        display: flex;
    }
}